body{
  background-image: url("../images/hodgepodge.png");
  background-repeat: repeat; 
}
.header{
    font-family: 'Chivo', sans-serif;
    font-weight: 900;
    font-style: italic;
    color: white;
    text-align: center;
    font-size: 40px;
    margin: 15px;
}

.header2{
    font-family: 'Chivo', sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 15px;

}

.header3{
    font-family: 'Chivo', sans-serif;
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 15px;

}

p{
    font-family: 'Chivo', sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

#letter_div{
   font-family: 'Chivo', sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;
    margin: 30px;
}
#guess_div{
    font-family: 'Chivo', sans-serif;
     color: white;
     text-align: center;
     font-size: 24px
 }

 #lives_div{
    font-family: 'Chivo', sans-serif;
     color: white;
     text-align: center;
     font-size: 24px
 }

 #win_count{
    font-family: 'Chivo', sans-serif;
     color: white;
     text-align: center;
     font-size: 24px
 }

 #lose_count{
    font-family: 'Chivo', sans-serif;
     color: white;
     text-align: center;
     font-size: 24px
 }